:root{
    --cor-fundo: #08010e ;
    --cor-principal: #140b20 ;
    --cor-secundaria: #292133; 
    --cor-destaque: #7b2bfd;
    --cor-texto: #e6d7ff;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}
